* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Figtree", sans-serif;
}

#navbar {
  color: #fff;
}

#hero {
  max-width: 1380px;
  margin-left: auto;
  left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

#carousel {
  display: flex;
  justify-content: center;
  font-size: 18px;
}

#bookVideoElement {
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto;
}
#bookTestDrive {
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto;
}
